*
{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family:raleway, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}    
header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo_reservia
{
    padding-top: 30px;
}
.list_mobile_register
{
    display: none;
}
.register_mobile
{
    display: none;
}
.menu
{
    width:100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu li
{
    padding: 30px 25px 0px;
}
.menu li:hover
{
    border-top: 3px solid #0065FC;
    padding: 27px 25px 0px;
}
.menu li a
{
    color:grey;
}
.menu .navbtn:hover a
{
    color:#0065FC;
}
.menu .register a
{
    color:#0065FC ;
    font-weight: bold;
}
a
{
    text-decoration: none;
}
.find_your_accomadation_for_a_dream_vacation
{
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.in_the_city_center_or_in_the_heart_of_nature
{
    font-size: 1rem;
    margin: 10px 0px 0px 0px;
}
.search_menu
{
    width: 100%;
    margin: 25px 0px 25px 0px;
    display: flex;
}
.fa-map-marker-alt
{
    width: 3.2%;
    height: 25px;
    padding: 10px 0px 0px 0px;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    background-color: #F2F2F2;
}
.search_area
{
    border: 1px solid #F2F2F2; 
}
.search_button
{
    width: 150px;
    padding: 7px 0px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    color:white;
    font-weight: bold;
    background-color:#0065FC;
}
.fa-sistrix
{
    display: none;
}
.mobile_filters
{
    display: none;
}
.filters
{
    font-size: 10px;
    display: flex;
    font-weight: bold;
    align-items: center;
}
.title_filters
{
    margin-right: 25px;
}
.criteria
{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    flex-wrap: wrap;
}
.criteria li
{
    border-radius: 25px;
    border: 5px solid #F2F2F2;
    padding: 0px 24px 0px 0px;
    margin: 0px 25px 0px 0px;
}
.criteria li:hover
{
    background-color: #0065FC;
}
.criteria li i
{
    width: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 25px;
    color:#0065FC;
    background-color: #DEEBFF;
}
.informations
{
    margin-top: 20px;
    display: flex; 
    align-items: center;
}
.fa-info
{
    color:#0065FC;
    border-radius: 100%;
    border: 1px solid  #DEEBFF; 
    padding: 5px 10px 5px 10px;
}
.informations_text
{
    margin-left: 20px; 
}
.second_section
{
    display: flex;
}
.fa-star.full
{
    color:#0065FC;
}
.fa-star.empty
{
    color:#F2F2F2;
}
.stars
{
    margin-left: 10px;
}
.first_regrouping
{
    display: flex;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin: 20px 50px 0px 0px;
}
.accommodations_in_marseille
{
    width: 100%;
    margin: 40px 0px 10px 60px;
}
.cadre{
    display:flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin: 0 55px;
}
.first_cadre
{
    width: 30%;
    /* height:260px; */
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 1px 5px 2px #F2F2F2;
    margin: 5px;
}
.first_cadre_content
{
    display: flex;
    flex-direction: column;
    /* height:130px; */
    justify-content: space-around;
}
.accommodations_names
{
    font-weight: bold;
    margin: 0px 0px 10px 10px;
}
.accommodations_prices
{
    margin: 0px 0px 10px 10px;
}
.photos_of_the_first_section
{
    object-fit: cover;
    /* width:280px;
    height:120px; */
    width:100%;
    height:130px;
    border-radius: 20px 20px 0px 0px;
}
.show_more
{
    font-weight: bold;
    margin: 10px 0px 20px 60px;
}
.second_regrouping
{
    margin: 20px 0px 0px 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
}
.more_popular
{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0px 10px;
}
.fa-chart-line
{
    font-size: 20px;
}
.second_cadre
{
    width:330px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
}
.second_cadre_Option1
{
    margin: 30px 10px 10px 10px;
}
.second_cadre_Option2
{
    margin: 10px;
}
.photos_of_the_second_section
{
    object-fit: cover;
    width: 130px;
    height: 150px;
    margin: 5px 20px 5px 5px;
    float: left;
    border-radius: 20px 0px 0px 20px;
}
.accommodations_more_popular
{
    font-weight: bold;
    margin: 30px 0px 10px 0px;
}
.accommodations_prices_more_popular
{
    margin: 0px 0px 30px 0px;
}
.activities_in_aarseille
{
    margin: 50px 0px 30px 0px;
}
.third_regrouping
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activities_names
{
    font-weight: bold;
    margin: 10px;
}
.old_port
{
    margin: 0px 20px 0px 0px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.first_block
{
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
}
.fort_of_pomegues
{
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.frioul_islands
{
    margin: 20px 20px 0px 20px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.calanques_national_park
{
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.notre_dame_de_la_garde
{
    margin: 0px 0px 20px 20px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.longchamp_park
{
    margin: 20px 0px 0px 20px;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 6px 6px 6px #F2F2F2; 
}
.troisieme_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 540px;
    border-radius: 10px 10px 0px 0px;
}
.fourth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 303px;
    border-radius: 10px 10px 0px 0px;
}
.fifth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}
.sixth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 228px;
    border-radius: 10px 10px 0px 0px;
}
footer
{
    margin: 30px -50px 0px -50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}
.column
{
    margin: 30px 240px 0px 50px;
}
.column ul
{
    list-style-type: none;
}
.column ul li
{
    margin: 10px;
}
.about
{
    font-weight: bold;
}
.our_accommodations
{
    font-weight: bold;
}
.assitance
{
    font-weight: bold;
}
@media screen and (max-width: 1280px)
{
    header
    {
        flex-direction: column;
    }
    .mobile_header
    {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
    }
    .logo_reservia
    {
        height: 7rem;
    }
    .list_mobile_register
    {
        font-size: 2.5rem;
        list-style: none;
        margin-top: 70px;
        display: block;
    }
    .register_mobile
    {
        display: block;
        color:#0065FC ;
        font-weight: bold;
    }
    .register
    {
        display:none;
    }
    .nav_part
    {
        margin:50px -50px 30px -50px
    }
    .menu
    {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .menu li
    {
        width:100%;
        text-align: center;
        border-bottom: 3px solid grey;
        font-size: 2rem;
        padding:1%;
        font-size: 2.2rem;
    }
    .menu li:hover
    {   
        border-top: none;
        border-bottom: 3px solid #0065FC;
        text-align: center;
        padding:1%;
        margin: 0%;
    }
    .find_your_accomadation_for_a_dream_vacation
    {
        font-size: 2.9rem;
        margin-top: 50px;
    }
    .in_the_city_center_or_in_the_heart_of_nature
    {
        margin-top: 50px;
        font-size: 1.3rem;
    }
    .search_menu
    {
        margin-top: 90px;
        display: flex;
        justify-content: center;
    }
    .fa-map-marker-alt
    {
        width: 15%;
        height: 85px;
        font-size: 3rem;
        padding-top: 38px;
        border-radius: 40px 0px 0px 40px;
    }
    .search_area
    {
        width: 77%;
        border: 3px solid #F2F2F2;
    }
    .search_button
    {
        display:none;
    }
    .fa-sistrix
    {
        width: 15%;
        font-size: 3rem;
        padding: 40px 0px 0px 0px;
        border-radius: 30px;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: #0065FC;
        margin-left: -30px;
}
.mobile_filters
{
    display: block;
    font-weight: bold;
    align-items: center;
    font-size: 2rem;
}
.title_filters
{
    display: none;
}
.criteria
{
    margin-top: 10px;
    font-size: 2.2rem;
}
.criteria li
{
    padding: 25px 40px 10px 25px;
    margin: 25px 25px 0px 0px;
    border-radius: 70px;
}
.criteria li i
{
    padding: 35px;
    border-radius: 70px;
    margin: -28px 10px -12px -28px;
}
.informations
{
    margin-top: 60px;
}
.fa-info
{
    border: 3px solid #DEEBFF;
    font-size: 1.5rem;
    padding: 20px;
    width: 3%;
    border-radius: 37px;
    text-align: center;
}
.informations_text
{
    font-size: 2.4rem;
}
    .second_section
    {
        flex-direction:column-reverse;
    }
    .first_cadre
    {
        width:100%;
    }
    .photos_of_the_first_section
    {
        height:120px;
    }
    .second_regrouping
    {
        margin: 20px 0;
    }
    .first_regrouping
    {
        margin: 20px 0;
    }
    .second_cadre
    {
        width:100%;
        margin:10px 0;
    }
    .more_popular
    {
        margin-bottom: 20px;
    }
}