*
{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family:raleway, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}    
header
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo_reservia
{
    padding-top: 30px;
}
.list_mobile_register
{
    display: none;
}
.register_mobile
{
    display: none;
}
.menu
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu li
{
    padding: 30px 25px 0px;
}
.menu li:hover
{
    border-top: 3px solid #0065FC;
    padding: 27px 25px 0px;
}
.menu li a
{
    color:grey;
}
.menu .navbtn:hover a
{
    color:#0065FC;
}
.menu .register a
{
    color:#0065FC ;
    font-weight: bold;
}
a
{
    text-decoration: none;
}
.find_your_accomadation_for_a_dream_vacation
{
    width: 100%;
    margin: 30px 0px 0px 0px;
}
.in_the_city_center_or_in_the_heart_of_nature
{
    margin: 10px 0px 0px 0px;
}
.search_menu
{
    width: 100%;
    margin: 25px 0px 25px 0px;
    display: flex;
}
.fa-map-marker-alt
{
    width: 3.2%;
    height: 25px;
    padding: 10px 0px 0px 0px;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
    background-color: #F2F2F2;
}
.search_area
{
    border: 1px solid #F2F2F2; 
}
.search_button
{
    width: 10%;
    padding: 7px 0px 0px 0px;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    color:white;
    font-weight: bold;
    background-color:#0065FC;
}
i.fa-sistrix
{
    display: none;
}
.mobile_filters
{
    display: none;
}
.filters
{
    font-size: 12px;
    display: flex;
    font-weight: bold;
    align-items: center;
}
.title_filters
{
    margin-right: 25px;
}
.criteria
{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    flex-wrap: wrap;
}
.criteria li
{
    border-radius: 25px;
    border: 1px solid #F2F2F2;
    padding: 0px 20px 0px 0px;
    margin: 0px 25px 0px 0px;
}
.criteria li:hover
{
    background-color: #0065FC;
}
.criteria li i
{
    width: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 25px;
    color:#0065FC;
    background-color: #DEEBFF;
}
.option
{
    padding-left: 10px;
}    
.informations
{
    margin-top: 20px;
    display: flex; 
    align-items: center;
}
.fa-info
{
    color:#0065FC;
    border-radius: 100%;
    border: 1px solid  #DEEBFF; 
    padding: 5px 10px 5px 10px;
}
.informations_text
{
    margin-left: 20px; 
}
.second_section
{
    display: flex;
}
.fa-star.full
{
    color:#0065FC;
}
.fa-star.empty
{
    color:#F2F2F2;
}
.stars
{
    margin-left: 10px;
}
.first_regrouping
{
    width:60%;
    display: flex;
    flex-wrap: wrap;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin: 20px 50px 0px 0px;
}
.accommodations_in_marseille
{
    width: 100%;
    margin: 40px 0px 10px 60px;
}
.cadre
{
    display:flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin: 0 55px;
}
.first_cadre
{
    width: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    margin: 5px;
}
.first_cadre_content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.accommodations_names
{
    font-weight: bold;
    margin: 0px 0px 10px 10px;
}
.accommodations_prices
{
    margin: 0px 0px 10px 10px;
}
.photos_of_the_first_section
{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}
.show_more
{
    font-weight: bold;
    margin: 10px 0px 20px 60px;
}
.second_regrouping
{
    margin: 20px 0px 0px 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
}
.more_popular
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 10px;
}
.fa-chart-line
{
    font-size: 20px;
}
.second_cadre
{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}
.photos_of_the_second_section
{
    object-fit: cover;
    width: 40%;
    height: 150px;
    margin: 5px 20px 5px 5px;
    float: left;
    border-radius: 20px 0px 0px 20px;
}
.accommodations_more_popular
{
    font-weight: bold;
    margin: 30px 0px 10px 0px;
}
.accommodations_prices_more_popular
{
    margin: 0px 0px 30px 0px;
}
.activities_in_marseille
{
    margin: 50px 0px 30px 0px;
}
.third_regrouping
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activities_names
{
    font-weight: bold;
    margin: 10px;
}
.old_port
{
    margin: 0px 10px 0px 0px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.first_block
{
    display: flex;;
    flex-direction: column;
    justify-content: space-between;
}
.fort_of_pomegues
{
    margin: 0px 10px 20px 10px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.frioul_islands
{
    margin: 20px 10px 0px 10px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.calanques_national_park
{
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.notre_dame_de_la_garde
{
    margin: 0px 0px 20px 10px;
    border-radius: 20px;
    border: 1px solid #F2F2F2; 
    box-shadow: 6px 6px 6px #F2F2F2;
}
.longchamp_park
{
    margin: 20px 0px 0px 10px;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 6px 6px 6px #F2F2F2; 
}
.troisieme_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 540px;
    border-radius: 20px 20px 0px 0px;
}
.fourth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 303px;
    border-radius: 20px 20px 0px 0px;
}
.fifth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}
.sixth_regrouping
{
    object-fit: cover;
    width: 360px;
    height: 228px;
    border-radius: 20px 20px 0px 0px;
}
footer
{
    margin: 30px -50px 0px -50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}
.column
{
    margin: 30px 240px 0px 50px;
}
.column ul
{
    list-style-type: none;
}
.column ul li
{
    margin: 10px;
}
.about
{
    font-weight: bold;
}
.our_accommodations
{
    font-weight: bold;
}
.assitance
{
    font-weight: bold;
}
@media screen and (max-width: 480px)
{
    header
    {
        flex-direction: column;
    }
    .mobile_header
    {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 0px -30px 0px -30px;
    }
    .logo_reservia
    {
        padding-top: -30px;
    }
    .list_mobile_register
    {
        margin-top: 50px;
        list-style: none;
        display: block;
    }
    .register_mobile
    {
        display: block;
        color:#0065FC ;
        font-weight: bold;
    }
    .register
    {
        display: none;
    }
    .nav_part
    {
        margin: 20px -50px 30px -50px
    }
    .menu
    {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .menu li
    {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid lightgrey;
        padding: 10px;
    }
    .menu li:hover
    {   
        border-top: none;
        border-bottom: 3px solid #0065FC;
        text-align: center;
        padding:1%;
        margin: 0%;
    }
    section
    {
        margin: 0px -30px 0px -30px;
    }
    .find_your_accomadation_for_a_dream_vacation
    {
        font-size: 25px;;
        margin: 0px 0px 10px 0px;
    }
    .in_the_city_center_or_in_the_heart_of_nature
    {
        font-size: 18px;
    }
    .search_menu
    {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .fa-map-marker-alt
    {
        width: 15%;
        font-size: 20px;
        padding: 20px 0px 15px 0px;
        border-radius: 20px 0px 0px 20px;
    }
    .search_area
    {
        width: 77%;
        height: 56px;
        border: 2px solid #F2F2F2;
    }
    .search_button
    {
        display:none;
    }
    i.fa-sistrix
    {
        width: 16%;
        font-size: 22px;
        padding: 20px 2px 0px 0px;
        border-radius: 17px;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: #0065FC;
        margin-left: -30px;
        display: inline-block;
    }
    .mobile_filters
    {
        display: block;
        font-weight: bold;
        align-items: center;
        font-size: 20px;
        margin-top: 20px;
    }
    .title_filters
    {
        display: none;
    }
    .criteria
    {
        margin-top: 10px;
    }
    .criteria li
    {
        border: 2px solid #F2F2F2;
        margin: 10px 10px 0px 0px;
        border-radius: 27px;
    }
    .informations
    {
        margin-top: 40px;
    }
    .fa-info
    {
        border: 2px solid #DEEBFF;
        text-align: center;
    }
    .informations_text
    {
        font-size: 16px;
    }
    .second_section
    {
        flex-direction:column-reverse;
    }
    .second_regrouping
    {
        margin: 40px -50px 0px -50px;
        border-radius: 0px;
        padding-bottom: 40px;
    }
    .more_popular
    {
        margin: 20px 30px 20px 40px;
    }
    .fa-chart-line
    {
        font-size: 25px;
    }
    .second_cadre
    {
        width: 90%;
        margin-left: 20px;
        height: 150px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .photos_of_the_second_section
    {
        width: 40%;
        height: 140px;
        margin: 5px 20px 5px 5px;
    }
    .accommodations_more_popular
    {
        margin-top: 15px;
    }
    .accommodations_prices_more_popular
    {
        font-size: 15px;
    }
    .fa-star.full
    {
        font-size: 12px;
    }
    .fa-star.empty
    {
        font-size: 12px;
    }
    .first_regrouping
    {
        width: 134%;
        margin-left: -60px;
        background-color: white;
    }
    .first_cadre
    {
        width: 95%;
        height: 205px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
        padding: 5px;
    }
    .photos_of_the_first_section
    {
        height: 120px;
    }
    .accommodations_names
    {
        font-size: 17px;
        margin-top: 10px;
    }
    .accommodations_prices 
    {
        margin-top: -5px;
    }
    .stars
    {
        margin-top: -5px;
    }
    .show_more
    {
        font-size: 20px;
        margin-top: 40px;
    }
    .activities_in_marseille
    {
        margin-top:40px;
    }
    .activities_names
    {
        font-size: 18px;
        margin: 17px 0px 0px 20px;
    }
    .old_port
    {
        height: 210px;
        margin:0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .troisieme_regrouping
    {
        width: 100%;
        height: 150px;
    }
    .fort_of_pomegues
    {
        height: 210px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209); 
    }
    .fourth_regrouping
    {
        width: 100%;
        height: 150px;
    }
    .frioul_islands
    {
        height: 210px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .fifth_regrouping
    {
        width: 100%;
        height: 150px;
    }
    .calanques_national_park
    {
        height: 210px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .notre_dame_de_la_garde
    {
        height: 210px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .sixth_regrouping
    {
        width: 100%;
        height: 150px;
    }
    .longchamp_park
    {
        height: 210px;
        margin: 10px 0px 0px 0px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    }
    .column
    {
        margin: 0px 10px 20px 20px ;
    }
}
    @media screen and (min-width: 481px) and (max-width: 1024px)
{    
    .fa-map-marker-alt
    {
        padding: 20px 20px 10px 20px;
    }
    .search_area
    {
        padding-right: 50px;
    }
    .search_button
    {
        width: 20%;
        padding: 18px 0px 0px 0px;
    }
    .criteria
    {
        font-size: 12px;
    }
    .criteria li
    {
        padding: 0px 5px 0px 0px;
        margin: 0px 6px 0px 0px;
    }
    .option
    {
        padding: 0px 5px 0px 5px;
    }
    .second_section
    {
        flex-direction: column-reverse;
    }
    .second_regrouping
    {
        margin-left: 0px;
    }
    .first_regrouping
    {
        width: 100%;
        margin-right: 0px;
    }
    .accommodations_in_marseille 
    {
        margin-left: 30px;
    }
    .cadre
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    .third_regrouping 
    {
        flex-direction: column;
    }
    .troisieme_regrouping
    {
        width: 100%;
        height: 200px;
    }
    .old_port
    {
        margin: 20px 0px 0px 0px;
    }
    .fort_of_pomegues 
    {
        margin: 10px 0px 0px 0px;
    }
    .fourth_regrouping
    {
        width: 100%;
        height: 200px;
    }
    .frioul_islands
    {
        margin: 10px 0px 0px 0px;
    }
    .fifth_regrouping
    {
        width: 100%;
        height: 200px;
    }
    .calanques_national_park
    {
        margin: 10px 0px 0px 0px;
    }
    .notre_dame_de_la_garde
    {
        margin: 10px 0px 0px 0px;
    }
    .sixth_regrouping
    {
        width: 100%;
        height: 200px;
    }
    .longchamp_park
    {
        margin: 10px 0px 0px 0px; 
    }
}